.GroupShow
  .otherCategory
    .otherCategory--title
      Category List
    %ol.otherGroupLists
      - @otherGroups.each do |group|
        %li.otherGroupLists--item= link_to group.name, group_path(group.id)
  .PostsIndex
    .PostsIndex--title
      = "#{@group.name} <"
    = render partial: 'layouts/post_index'