.follows{
  display: block;
  border: 1px solid #808080;
  font-size: 18px;
  width: 300px;
  height: 100%;
  margin-right: 40px;
  padding: 10px 20px 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  background-color: #20b2aa;
}
#follow-now {
  background-color: white;
  color: #808080;
}