.field_with_errors {
  display: contents;
}

.GroupShow {
  display: flex;
  justify-content: space-between;
  .otherCategory {
    width: 300px;
    padding: 60px 40px;
    &--title {
      font-size: 20px;
      color: #808080;
      border-bottom: 1px solid #808080;
      padding-bottom: 5px;
    }
    .otherGroupLists {
      padding: 16px 0;
      font-size: 18px;
      &--item a{
        padding-bottom: 5px;
        text-decoration: none;
        color: #808080;
        line-height: 35px;
      }
      &--item::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #808080;
        border-radius: 50%;
        margin: 0 7px;
        position: relative;
        bottom: 2px;
      }
    }
  }
  .GroupPosts {
    padding: 40px 130px 30px 90px;
    width: calc(100% - 300px);
    &--title {
      text-align: right;
      font-size: 40px;
      color: #808080;
    }
    &__posts {
      padding: 40px 0;
      .comand {
        padding-bottom: 3px;
        &--button {
          text-decoration: none;
          font-size: 15px;
          color: #a9a9a9;
        }
        #comandDelete {
          margin-left: 5px;
        }
      }
      &__post {
        margin-bottom: 30px;
        padding: 30px;
        background-color: white;
        text-align: right;
        color: #a9a9a9;
        border-radius: 10px;
        border: 2px solid #a9a9a9;
        &--created_at {
          font-size: 14px;
          padding-bottom: 10px;
        }
        &--text {
          width: 100%;
          font-size: 18px;
          color: #696969;
          text-align: left;
          line-height: 30px;
          word-break : break-all;
        }
        &--image {
          width: 100%;
          display: block;
          margin: 20px auto;
        }
        &--comment {
          text-decoration: none;
          color: #a9a9a9;
          font-size: 15px;
          margin-right: 5px;
        }
        &--userName {
          text-decoration: none;
          color: #a9a9a9;
          margin-right: 5px;
        }
      }
    }
  }
}

.createGroup {
  height: calc(100vh - 60px);
  padding: 240px 200px;
  &--question {
    color: #808080;
    font-size: 18px;
    padding-left: 10px;
  }
  &__form {
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
    &--groupName {
      height: 50px;
      box-shadow: 1px 1px 5px 0 gray;
      border-radius: 3px;
      width: calc(100% - 100px);
      margin-right: 5%;
      padding: 10px;
    }
    &--groupButton {
      height: 50px;
      color: #808080;
      background-color: #ffffff;
      width: 130px;
      text-align: center;
      line-height: 50px;
      border-radius: 3px;
      text-decoration: none;
      box-shadow: 1px 1px 5px 0 gray;
    }
  }
}