.userShow {
  padding: 50px 120px;
  &--userName {
    font-size: 20px;
    text-align: right;
    color: #808080;
  }
  &__contents {
    display: flex;
    .userLeftContent {
      height: 100%;
      .userGroupsIndex {
        width: 300px;
        height: 100%;
        margin-right: 60px;
        padding: 10px 20px 10px;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #808080;
        &__items {
          &--name {
            color: #808080;
            border: none;
            font-size: 16px;
            outline: none;
          }
        }
        &__Edit {
          text-align: center;
          &--userEdit {
            font-size: 18px;
            text-decoration: none;
            color: #808080;
          }  
          .followUsers {
            display: none;
            border-top: 1px solid #808080;
            &__list a{
              text-align: left;
              text-decoration: none;
              color: #808080;
              display: block;
              padding-top: 5px;
            }
          }
        }
        &--title {
          margin-bottom: 10px;
          padding-bottom: 2px;
          color: #808080;
          font-size: 18px;
          text-align: center;
          border-bottom: 1px solid #808080;
        }
      }
    }
    .userPosts {
      width: calc(100% - 220px);
      &__post {
        padding: 20px 30px 10px;
        border: 1px solid #808080;
        border-radius: 5px;
        margin: 20px 0;
        color: #808080;
        width: 100%;
        &--categoryName {
          text-align: right;
          font-size: 15px;
        }
        &--text {
          font-size: 20px;
          word-wrap: break-word;
        }
        &--image {
          width: 100%;
          margin-top: 10px;
        }
        &__details {
          margin-top: 10px;
          text-align: right;
          font-size: 14px;
          &--comments {
            font-size: 14px;
            text-decoration: none;
            color: #808080;
            margin-right: 5px;
          }
        }
      }
      .comand {
        padding-bottom: 5px;
        text-align: right;
        &--button {
          text-decoration: none;
          font-size: 15px;
          color: #a9a9a9;
        }
        #comandDelete {
          margin-left: 5px;
        }
      }
    }
  }
}