.header {
  height: 80px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: #009999;
  box-shadow: 2px 2px 5px 0 gray;
  &--title {
    font-size: 70px;
    line-height: 80px;
    color: white;
    text-decoration: none;
  }
  .btns {
    display: flex;
    align-items: center;
    &--btn {
      color: #808080;
      display: block;
      background-color: #ffffff;
      height: 40px;
      width: 100px;
      text-align: center;
      line-height: 40px;
      border-radius: 3px;
      text-decoration: none;
      font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      box-shadow: 1px 1px 5px 0 gray;
    }
    #BtnLogin {
      margin-left: 20px;
    }
  }
}