.header {
  height: 70px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  .btns {
    display: flex;
    align-items: center;
    &--btn {
      color: #808080;
      display: block;
      background-color: #ffffff;
      height: 40px;
      width: 100px;
      text-align: center;
      line-height: 40px;
      border-radius: 3px;
      text-decoration: none;
      font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      box-shadow: 1px 1px 5px 0 gray;
    }
    #BtnLogin {
      margin-left: 20px;
    }
  }
}