- user_signed_in? && unless current_page?(controller: "posts", action: "new")
  .NewPostBtn
    %p.NewPostBtn__circle
    = link_to new_post_path, class: "NewPostBtn__pen" do
      %i.fas.fa-pencil-alt.NewPostBtn__pen--icon